<% content_for :stylesheets do %>
  <%= stylesheet_link_tag "home_index" %>
<% end %>

<div class="top-page">
  <h1 class="app-title">
    <span class="line1">SHOPPING</span><br>
    <span class="line2">DAYS</span>
  </h1>
  
  <h2>買い忘れのない日常へようこそ</h2>

<% unless user_signed_in? %>
  <div class="auth-buttons">
    <%= link_to "登録済みの方はこちら", new_user_session_path, class: "btn btn-signin" %>
    <%= link_to "はじめての方はこちら", new_user_registration_path, class: "btn btn-signup" %>
  </div>
<% end %>