<h1>買い物リスト</h1>

<ul>
  <% @shopping_lists.each do |shopping_list| %>
    <li>
      <%= shopping_list.date.strftime("%Y年%m月%d日") %>      
      <strong><%= link_to shopping_list.title , shopping_list_path(shopping_list) %></strong>
      
      <% if shopping_list.items.blank? %>   
        <p>品物はありません</p>
      <% end %>
    </li>
  <% end %>
</ul>

<!-- カレンダーに戻るリンク -->
<%= link_to "カレンダーに戻る", calendar_path %>