<h2>­ЪЏњ С╗іТЌЦсЂ«У▓исЂёуЅЕсЃфсѓ╣сЃѕ</h2>
<% if @shopping_lists.any? %>
  <ul>
    <% @shopping_lists.each do |list| %>
      <li><%= link_to list.title, shopping_list_path(list) %></li>
    <% end %>
  </ul>
<% else %>
  <p>У▓исЂёуЅЕсЃфсѓ╣сЃѕсЂ»сЂѓсѓісЂЙсЂЏсѓЊ</p>
<% end %>