td.created { color: green; font-weight: bold; text-align: center;}
td.updated { color: blue; text-align: center;}

.edit_history table {
  border-collapse: collapse; /* 枠線を重ねない */
  width: 100%;
}

.edit_history th, 
.edit_history td {
  border: 1px solid #ccc; /* 枠線の色や太さ */
}